.guess-container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  label {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .guess {
    font-size: 3rem;
    width: 9rem;
    text-align: center;
  }
}