@import '../abstract/variables';

.guess-container {

  h2 {
    color: $dark-blue;
  }

  .guess {
    border-radius: 1.5rem;
    background: linear-gradient(145deg, $light-blue, $middle-blue);
    height: 5rem;
  }
}