/* Import of the color palette used in this component */
@import '../abstract/variables';

/* Styling of the hangman images used during game play */
.hangman-image {

  img {
    border: 5px solid $middle-blue;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 3rem $middle-blue,
    -1rem -1rem 3rem $mid-light-blue;
    height: auto;
    width: auto;
  }
}