@import '../abstract/variables';

/* Styling for the text header's container */
.header-container,
button {
  border-radius: 2rem;
  background: linear-gradient(145deg, $light-grey, $darker-grey);
  box-shadow: 1rem 1rem 3rem $dark-blue,
  -1rem -1rem 3rem $middle-blue;
  border: none;
}

/* Styling of the clock container */
.clock-container {

  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
  }

  button {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
  }
}