@import '../abstract/variables';

/* Styling for the header's container */
.header-container {
  background: linear-gradient(145deg, $light-grey, $darker-grey);
  border: none;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 3rem $dark-blue,
  -1rem -1rem 3rem $middle-blue;
  padding-top: 1rem;
}

