@import '../abstract/variables';

.play-button {
  padding: 1.5rem 1.5rem;
  border-radius: 2rem;
  background: linear-gradient(145deg, $light-grey, $darker-grey);

  border: none;
}

.help-button {
  box-shadow: 1rem 1rem 3rem $mid-light-blue,
-1rem -1rem 3rem $light-blue !important;
}

.btn-close-modal {
  box-shadow: 1rem 1rem 1rem $black-shadow,
-0.5rem -0.5rem 3rem $light-grey;
  width: 10rem;
  height: 4rem;
  margin: 0 1rem 1rem 0;
}

.reset-button {
  box-shadow: 1rem 1rem 3rem $dark-blue,
  -1rem -1rem 3rem $middle-blue;
}

.btn-clock {
  box-shadow: 5px 5px 15px $dark-blue,
  -2px -2px 6px $light-blue;
}

Button {
  width: 20rem;
  height: 6rem;
  align-self: center;
  color: $dark-blue !important;
}

