/* Import of the color palette used in the play buttons */
@import '../abstract/variables';

/* Styling of the generic play-button class */
.play-button {
  background: linear-gradient(145deg, $light-grey, $darker-grey);
  border: none;
  border-radius: 2rem;
  padding: 1.5rem 1.5rem;
}

/* Styling of the help button */
.help-button {
  box-shadow: 1rem 1rem 3rem $mid-light-blue,
-1rem -1rem 3rem $light-blue !important;
}

/* Styling of the button used to close the help modal */
.btn-close-modal {
  box-shadow: 1rem 1rem 1rem $black-shadow,
-3px -3px 2rem $light-grey;
  height: 4rem;
  margin: 0 1rem 1rem 0;
  width: 10rem;
}

/* Styling of the start/reset game button */
.reset-button {
  outline: 0 !important;
  border: none;
  box-shadow: 1rem 1rem 3rem $dark-blue,
  -1rem -1rem 3rem $middle-blue;
}

/* Styling of the general button elements (common to all HTML button elements */
Button {
  color: $dark-blue !important;
  height: 6rem;
  width: 20rem;
}

