@import '../abstract/variables';

/* Styling for the header box's text */
.header-container {

  h1 {
    font-size: 3.5rem;
    text-transform: uppercase;

  }

  p {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
  }
}

.clock-container {
  h2 {
    font-size: 5rem;
    font-weight: 100;
    font-family: 'Lato', Arial, sans-serif;
    color: $silver;
  }

  button {
    font-weight: 700;
    font-family: "Rock Salt", Arial, sans-serif;
    font-size: 1rem;
  }
}

.guess-container {

  label {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .guess {
    font-family: "Rock Salt", Arial, sans-serif;
    font-size: 2rem;
    color: $dark-blue;

    &::placeholder {
      color: $light-blue;
    }

  }
}

.play-button {
  font-family: "Rock Salt", Arial, sans-serif;
  font-weight: bold;
}