/* Import of the colour palette variables used in the typography of the app */
@import '../abstract/variables';

/* Styling for the header box's text */
.header-container {

  h1 {
    font-size: 3.5rem;
    text-transform: uppercase;

  }

  p {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
  }
}

/* Styling of the stopwatch characters */
.timer {

  .digits {
    color: $dark-blue;
    font-family: "Rock Salt", Arial, sans-serif;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.7rem;
  }
}

/* Typography of the letters of the random word as they are guessed correctly */
.letters {
  color: $dark-blue;
  font-size: 2rem;
}

/* Styling of the guess instructions and container of the current guess */
.guess-container {

  /* The instructions */
  h2 {
    color: $dark-blue;
    font-size: 1.8rem;
    text-align: center;
  }

  /* The current guess box */
  .guess {
    color: $dark-blue;
    font-family: "Rock Salt", Arial, sans-serif;
    font-size: 2rem;
  }
}

/* Styling of all play buttons */
.play-button {
  font-family: "Rock Salt", Arial, sans-serif;
  font-weight: bold;
}

/* Styling of the help list of instructions */
ul {
  list-style: inside;

  li {
    font-size: 1.6rem;
  }
}

/* Typography of the win or lose message that appears at the end of the game */
.win-or-lose-wrapper {

  h2,
  h3{
    color: $maroon;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }
}