/* Spacing and alignment of the game instruction and  box for current guess */
.guess-container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .guess {
    width: 9rem;
    text-align: center;
  }
}