/* Colour palette used throughout the app */
$dark-blue: #000014;
$middle-blue: #1F1FBC;
$mid-light-blue: #4444c3;
$light-blue: #9D9DFF;

$maroon: #310101;

$silver: #C0C0C0;
$light-grey: #CDCDCD;
$darker-grey:#ADADAD;

$white: #FFFFFF;

$black-shadow: rgba(0, 0, 0, 0.2)